<div class="uvodni-tekst">Dobrodošli na sajt koji će Vam probuditi želju za avanturama u Srbiji! </div>
<div class="biraj">
    <div class="sredjenText"> U kom delu Srbije biste voleli da idete? </div>
    <div class="sredjenText"> Klikom na sliku ispod, istražite deo Srbije. </div>
  <div class="birajOkrug">
    <div class="okrug-image" (click)="prikaziSveLokacije()">
        <img class="okrug-image-image" id= 1 src="../../assets/vojvodinaBg.png">
    </div>
    <div class="okrug-image" (click)="prikaziSveLokacije()">
        <img class="okrug-image-image" id=2 src="../../assets/zapadCentar.png">
    </div>
    <div class="okrug-image" (click)="prikaziSveLokacije()">
        <img class="okrug-image-image" id=3 src="../../assets/jugoistok.png">
    </div>
    <div class="okrug-image" (click)="prikaziSveLokacije()">
        <img class="okrug-image-image" id=4 src="../../assets/kosovo.png">
    </div>
  </div>  
</div> 