<div class='register-modalBackground'>
    <div class='register-modal'>
        <div class="register-modal-header">
            <span (click)="cancelLogIn()" class="register-cancel">&times;</span>
        </div>
        <label class= "reg-labelaTitle">Registracija</label>
        <form class= "formaReg" [formGroup]="registerUserForm" (ngSubmit)="onSubmit()">
              <label class="reg-labela">
                Username:
              </label>
              <input type="text" class="form-control" placeholder="Enter name"  formControlName="username">
              <label class ="reg-labela">
                  Ukoliko ste radnik TuristInfo centra, unesite PIB posle cekiranja.
              </label>
              <input type="checkbox" [checked]="writePIB"(change)="writePIB = !writePIB"/>
              <div *ngIf = "writePIB">
              <label class="reg-labela">
                  PIB preduzeca:
              </label>
                  <input type="text" class="form-control" formControlName="pib">
                  <label class="reg-labela">
                    Lokacija
                  </label>
                  <input type="text" class="form-control" formControlName="pib">
                </div>
                <label class="reg-labela">
                  Email:
                </label>
                <input type="email" class="form-control"  placeholder="Enter email"  formControlName="email">
                <label class="reg-labela">
                  Password:
                </label>
                <input type="password" class="form-control"  placeholder="Enter password"  formControlName="password">
              <button class="reg-button" type="submit">
                Prihvati
              </button> 
            </form>        
      </div>
</div> 