<div class='register-modalBackground'>
    <div class='register-modal'>
        <div class="register-modal-header">
            <span (click)="cancelLogIn()" class="register-cancel">&times;</span>
        </div>
        <div class="container fluid px-5 py-2 text-center" style="width: 500px">
          <p *ngIf="emptyFields" style="background-color: rgb(245, 96, 96)" class="border border-danger rounded">
            Please fill in the required fields.
          </p>
          <h4>Registration</h4>
          <form class= "formaReg" [formGroup]="user" (ngSubmit)="onSubmit()">
                <label class="mt-3">
                  Username:
                </label>
                <input type="text" class="form-control" placeholder="Enter name"  formControlName="username">
                <label class ="mt-3">
                  Ukoliko ste radnik TuristInfo centra, unesite PIB posle cekiranja.
                </label>
                <input type="checkbox" [checked]="writePIB"(change)="writePIB = !writePIB"/>
                <div *ngIf = "writePIB">
                  <label class="mt-3">
                    PIB preduzeca:
                  </label>
                  <input type="text" class="form-control" formControlName="pib">
                  <label class="mt-3">
                    Lokacija
                  </label>
                  <input type="text" class="form-control" formControlName="pib">
                </div>
                <label class="mt-3">
                  Email:
                </label>
                <input type="email" class="form-control"  placeholder="Enter email"  formControlName="email">
                <label class="mt-3">
                  Password:
                </label>
                <input type="password" class="form-control"  placeholder="Enter password"  formControlName="password">
                <p *ngIf="passwordError" style="background-color: rgb(245, 96, 96)" class="border border-danger rounded">
                  <small>Your password must be at least 6 characters long.</small>
                </p>
              <button class="btn btn-primary mt-3" type="submit" [disabled]="!user.valid">
                Prihvati
              </button> 
            </form>
          </div>          
      </div>
</div> 