
.containerComments
{
    background: rgb(93, 97, 99);
    border-radius: 5px;
    margin-bottom: 10px;
}

.contDescAdv
{
    background: rgb(93, 97, 99);
    border-radius: 5px;
    margin-bottom: 10px;
}

.containerCommUser
{
    background: rgb(93, 97, 99);
    border-radius: 5px;
    margin-bottom: 10px;
}