<div class="container fluid px-5 py-2 text-center" style="width: 500px">
    <p *ngIf="emptyFields" style="background-color: rgb(245, 96, 96)" class="border border-danger rounded">
      Popuniti prazna polja!
    </p>
    <h4>Dodajte novu avanturu za vašu lokaciju</h4>
    <form class= "formaReg" [formGroup]="adventure" (ngSubmit)="onSubmit()">
          <label class="mt-3">
            Naslov:
          </label>
          <input type="text" class="form-control" placeholder="upisite naslov"  formControlName="title">
        <label class="mt-3">
            Lokacija:
        </label>
        <input type="text" class="form-control" formControlName="location">
        <label class="mt-3">
            Tezina:
        </label>
        <input type="text" class="form-control" formControlName="level">
          <label class="mt-3">
            Trajanje:
          </label>
          <input type="number" class="form-control"  placeholder="upisite trajanje"  formControlName="duration">
          <label class="mt-3">
            Opis:
          </label>
          <input type="text" class="form-control"  placeholder="upisite opis"  formControlName="description">
        <button class="btnAdd" type="submit" >
          Prihvati
        </button> 
      </form>
    </div>          