.log-modalBackground{
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    background-color: rgba(32, 31, 31, 0.5);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.log-modal{
    width: 500px;
    height: 500px ;
    padding: 10px;
    padding-bottom: 20px;
    border-radius: 4px;
    background-color:white;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.2);
    text-align: center;
    font-family: 'Century Gothic';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.log-modal-header{
    width: 500px;
    height:20px;
    padding: 0px;
    font-family: 'Century Gothic';
    text-transform: uppercase;
    text-align: center;
    font-size: 35px;
    display:flex;
    flex-direction: row;
   
}

.log-cancel{
    cursor: pointer;
    color: #ccc;
    position: absolute;
    top: 0;
    right:15px;
    font-size: 40px;   
}

.log-cancel:hover{
    color:rgb(145, 140, 140);
}

.log-image{
    width: 220px;
    height: 150px;
    display: flex;
    justify-content: center;
    background-color: transparent;
    background-size: contain ;
    background-repeat: no-repeat;
}

.error-message{
    color:  rgb(197, 67, 28);
}

.log-image-image{
width: 100%;
height: 100%;
}

.log-labela{
    margin: 10px;
    text-transform: uppercase;
    font-size: 20px;
}

.log-input{
    width: 400px;
    height: 38px;
    display:block;
    margin: 12px auto;
    border-radius: 4px;
    border-color: rgb(197, 67, 28);
}

.log-loginBtn{
    padding:0px;
    margin: 8px;
    width: 160px;
    height: 45px;
    border-radius: 22px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    align-self: center;
    border-color: rgb(128, 44, 19);
    background-color:#f7ebca ;
    text-align: center;
    cursor: pointer;
    transition-duration: 0.2s;
    border-color: rgb(197, 67, 28);
}

.log-loginBtn:hover{
    background-color:#d8b98a;
}

.log-modal-main{
    padding: 10px;
    font-family: 'Century Gothic';
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tabla-glavni
{
    display: flex;
    flex-direction: row;
    margin: 8px;
    width: 100px;
    height: 100px;
    border-radius: 22px;
    border: 1px black solid;
}
.levi-1,.levi-2,.levi-3,.levi-4
{
    border:1px black solid;
    flex-grow: 5;
}
.desni-1,.desni-2,.desni-3,.desni-4
{
    border:1px black solid;
}
.levi
{
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.desni
{
    padding: 10px;
    display: flex;
    flex-direction: column;
}