<div class='log-modalBackground'>
    <div class='log-modal'>
        <div class="log-modal-header">
            <span (click)="cancelLogIn()" class="log-cancel">&times;</span>
        </div>
        <div class="log-image">
            <img class="log-image-image"src="../../assets/user2.png">
        </div>
        <label class="log-labela">Member login</label>
        <div class="log-modal-main">
            <input class="log-input" id="username-input" type="text" placeholder="Username" required>
            <input class="log-input" id="password-input" type="password" placeholder="Password" required>
            <button class="log-loginBtn" type="submit">Log In</button>
        </div>
    </div>
</div> 