<div class="korisnik wrapper">
    <nav id="sidebar">
        <ul class="list-unstyled components">
            <li>
                <a routerLink ="/turistInfo">Home</a>
            </li>
            <li>
                <a routerLink="/turistInfo/dodajAvanturu">Dodaj Avanturu</a>
            </li>
            <li>
                <a routerLink="/turistInfo/prosecneCene">Aktivne avanture</a>
            </li>
        </ul>
    </nav>
    <div class="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button mat-button type="button" id="sidebarCollapse" class="btn btn-info dugmence" (click)="collapseMenu();">
                <i class="fa fa-align-justify"></i> <span>MENI</span>
            </button>   
            <div class="heder">
                <button mat-button type="submit" class="logoutBtn" (click)="logout()">ODJAVA </button>
             </div>       
        </nav>
        <div class="line"></div>
        <router-outlet></router-outlet>
    </div>
</div>
<div class="footer">
    <label class="footer-label">© 2020 gorana, Inc</label>
</div>
