<div class= "content-container">
    <div class="content-picture-container">
        <div class="logo-image">
            <img class="logo-image-image"src="../../assets/logo.png">
        </div>
        <div class="content-description">
            Dobrodošli! Na korak ste od planiranja Vaše nezaboravne avanture!
        </div>
        <div class="content-log-reg-div"> 
            <div class="content-title">Prijava/Registracija</div>
            <button  class="login-text-button" (click)="showLogInModal()" mat-raised-button>
                Login
            </button>
            <button  class="register-button" (click)="showRegisterModal()" mat-raised-button>
                Registracija
            </button>
        </div>
    </div>
</div>
<login-text *ngIf='displayLogIn' (cancelClicked)='hideLogInModal()'></login-text>
<register *ngIf='displayRegister' (cancelClicked)='hideRegisterModal()'></register>