  <mat-card class="card">
    <mat-card-title>{{adventure.title}}</mat-card-title>
    <mat-card-subtitle>Nivo: {{adventure.level}}</mat-card-subtitle>
    <mat-card-content>
      <p>
        Trajanje {{adventure.duration}}
      </p>
      <p>
        Opis: {{adventure.description}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button type="submit" (click)="navigateToAdventureDetail()">Detaljnije</button>
      <button *ngIf="canBeDeleted" mat-button type="submit" (click)="deleteAdventure()">Obriši</button>
    </mat-card-actions>
  </mat-card> 
